<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 340px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="/assets/img/m17glow.png" height="52" />
      <span class="fs-4">Protocol Specification</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/pdf/M17_spec.pdf" class="nav-link link-dark" download>
          Download PDF
        </a>
      </li>
    </ul>
  </div>