<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary d-none d-md-block" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="{{ "/assets/img/m17_logo_shadow.svg" | relative_url }}" height="32" />
    <span class="fs-4">&nbsp;&nbsp;M17 Project</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <i class="fa-solid fa-book-open"></i>
        M17 Protocol Specification
      </a>
    </li>
    <li>
      <a href="{{ "/pdf/M17_spec.pdf" | relative_url }}" class="nav-link link-body-emphasis" download>
        <i class="fa-solid fa-download"></i>
        Download as PDF
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <strong>Copyright &copy; <script>document.write(new Date().getFullYear())</script> M17 Project</strong>
    </a>
  </div>
</div>